<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Prediction</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
  </head>

  <body>
    <h1>Image Prediction</h1>

    <form id="imageForm" enctype="multipart/form-data">
      <img id="imagePreview" src="#" alt="Image Preview" />

      <label for="imageInput">Choose Image</label>

      <div id="predictionResult">
        <p id="predictionPercentage"></p>
        <p id="predictedObject"></p>
      </div>
      <input
        type="file"
        accept="image/*"
        id="imageInput"
        name="image"
        required
      />

      <button type="button" onclick="predict()">Predict</button>
    </form>

    <script>
      function previewImage() {
        var input = document.getElementById("imageInput");
        var preview = document.getElementById("imagePreview");

        input.addEventListener("change", function () {
          var file = input.files[0];
          var reader = new FileReader();

          reader.onload = function (e) {
            preview.src = e.target.result;
            preview.style.display = "block";
          };

          reader.readAsDataURL(file);
        });
      }

      function predict() {
        var form = document.getElementById("imageForm");
        var formData = new FormData(form);

        fetch("/predict", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);

            // Update the HTML with the prediction result
            var predictionPercentage = (
              data.predicted_percentage * 100
            ).toFixed(2);
            var result = data.predicted_class;

            var resultDiv = document.getElementById("predictionResult");
            var percentageElement = document.getElementById(
              "predictionPercentage"
            );
            var objectElement = document.getElementById("predictedObject");

            percentageElement.textContent =
              "Prediction: " + predictionPercentage + "%";
            objectElement.textContent = "Object: " + result;

            resultDiv.style.display = "block";
          })
          .catch((error) => console.error("Error:", error));
      }

      // Call the previewImage function when the page is loaded
      window.onload = previewImage;
    </script>
  </body>
</html>
